streamlit
langchain
langchain-openai
langchain-community
langchain-text-splitters
openai
chromadb
python-dotenv
pandas
numpy
pyodbc
sqlalchemy
tiktoken
pypdf
jupyter
notebook
ipykernel
scikit-learn
matplotlib
seaborn